footer {
    background-color: #ffffff;
    color: rgb(119, 119, 119);
    font-size: .6em;
    text-align: center;
    padding: 30px;
    /* height:140px; */
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 300px
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul li {
    list-style: none;
}

footer ul li a {
 padding-left: 50px;

}

img {
    width: 150px;
    margin-bottom: 40px;
}

.footer-shadow {
  box-shadow: 0px 2px 10px 2px rgba(117, 117, 117, 0.2);
}
